{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}
{% assign research_source = member.content | split: '<h2 id="research-interests">Research Interests</h2>' | last | split: '<h2 id="education">Education</h2>' | first %}
{% assign research_items = research_source | regex_scan: '<li>(.*?)</li>', true, true %}

<div class="portrait-wrapper">
  <a
    href="{{ member.url | relative_url | uri_escape }}"
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.name | default: "member link" | regex_strip }}"
  >
    {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %}

    {% include responsive-image.html image=member.image class="portrait-image" alt=member.name sizes="(max-width: 600px) calc(100vw - 40px), 320px" %}

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if include.style == "gallery" %}
      {% if research_items.size > 0 %}
        <span class="portrait-interests">
          {% for interest in research_items limit: 2 %}
            <span>{{ interest }}</span>
          {% endfor %}
        </span>
      {% endif %}
    {% elsif member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}
  </a>
</div>
